<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vhhz's soul box</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Vhhz's soul box</h1>
      <div>
        <!-- TODO: Add a list of all the OCs -->
        <ul>
          <li>
            <a href="oc/non/index.html">Non</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
