.fullscreen-image-content {
  max-width: 90vw;
  max-height: 90vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen-image-content .zoom-pan-pinch-container {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
}