.loading-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-purple);
  opacity: 1;
  z-index: 5;
}

.loading-spinner-message {
  margin-top: 16px;
  font-size: 14px;
  color: var(--color-white-sparkle);
  text-align: center;
}

.loading-spinner-container--small .loading-spinner-message {
  font-size: 12px;
  margin-top: 8px;
}

.loading-spinner-container--large .loading-spinner-message {
  font-size: 16px;
  margin-top: 20px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #000;
  mask: conic-gradient(#000 0deg, #000 315deg, transparent 315deg);
  -webkit-mask: conic-gradient(#000 0deg, #000 315deg, transparent 315deg);
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
