.ship-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ship-icon-image {
  width: 35px; /* 25% of 148px (mobile width) - 1.25x bigger */
  height: 35px;
}

.ship-icon-outline {
  position: absolute;
  top: 0;
  left: 0;
}

/* ===== RESPONSIVE BREAKPOINTS ===== */

/* First range: Vertical phone screen (portrait) - 2 slots per row */
/* Standard breakpoint: 320px - 767px */
@media (min-width: 320px) and (max-width: 767px) {
  .ship-icon-image {
    width: 35px; /* 25% of 148px - 1.25x bigger */
    height: 35px;
  }
}

/* Second range: Horizontal phone screen and vertical tablet - 3 slots per row */
/* Standard breakpoint: 768px - 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .ship-icon-image {
    width: 50px; /* 25% of 200px - 1.25x bigger */
    height: 50px;
  }
}

/* Third range: Horizontal tablet and desktop - 5 slots per row */
/* Standard breakpoint: 1024px and up */
@media (min-width: 1024px) {
  .ship-icon-image {
    width: max(
      45px,
      3.75vw
    ); /* 25% of slot width (15vw), min 45px (25% of 180px) - 1.25x bigger */
    height: max(45px, 3.75vw);
  }
}
