.stack {
  display: flex;
  flex-direction: column;
}

.stack-gap-xs {
  gap: 4px;
}

.stack-gap-sm {
  gap: 15px;
}

.stack-gap-md {
  gap: 30px;
}

.stack-gap-lg {
  gap: 60px;
}

.stack-gap-xl {
  gap: 96px;
}
