.filter-toggle-container {
  margin-bottom: 10px;
  text-align: center;
}

.filter-toggle-button {
  padding: 5px 10px;
  background-color: var(--color-white-sparkle);
  color: var(--color-purple);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 400;
  font-family: var(--font-primary);
  transition: all 0.2s ease;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.filter-toggle-button:hover {
  transform: translateY(-1px);
}

.filter-toggle-button:active {
  transform: translateY(0);
}

.filter-block {
  margin-bottom: 20px;
  padding: 15px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filter-header h3 {
  margin: 0;
  color: var(--color-white-sparkle);
  font-size: 1.1em;
}

.clear-button {
  background-color: #69151d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.2s;
}

.clear-button:hover {
  background-color: #7b121c;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tag-button {
  display: inline-block;
  padding: 3px 3px;
  margin: 5px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  transition: all 0.2s ease;
  border: none;
}

.tag-button:hover {
  transform: translateY(-1px);
}

.tag-button.selected {
  transform: translateY(-1px);
  box-shadow: 0px 6px 0px rgb(52, 11, 86), 4px 6px 0px rgb(52, 11, 86),
    0 0 25px rgba(52, 11, 86, 0.8);
}

.tag-button:active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .filter-toggle-container {
    text-align: center;
    margin-bottom: 8px;
  }

  .filter-toggle-button {
    font-size: 0.75em;
    padding: 4px 8px;
  }

  .filter-block {
    padding: 12px;
  }

  .filter-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .tag-button {
    font-size: 0.85em;
    padding: 5px 10px;
  }
}
