/* Group layout */
.oc-group {
  margin-bottom: 2rem;
}

.group-header {
  display: block;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
  padding: 0;
  width: 70%;
}

.group-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.oc-count {
  padding: 0.25rem 0.5rem;
}

/* Grid layout */
.oc-group-grid {
  display: flex;
  flex-wrap: wrap;
}
