.particle {
  background-color: GhostWhite;
  border-radius: 50%;
  box-shadow: 0 0 var(--blur) var(--spread) rgba(255, 255, 224, 0.5);
  height: var(--size);
  left: var(--left);
  position: fixed;
  top: var(--top);
  width: var(--size);
  z-index: -1;
  animation: sparkle var(--duration) var(--delay) var(--iteration) alternate;
  pointer-events: none;
}

@keyframes sparkle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: var(--opacity);
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
