.particle {
  background-color: #f3e9ff;
  clip-path: polygon(
    50% 0%,
    60% 40%,
    100% 50%,
    60% 60%,
    50% 100%,
    40% 60%,
    0% 50%,
    40% 40%
  );
  box-shadow: 0 0 var(--blur) var(--spread) rgba(255, 255, 224, 0.5);
  height: var(--size);
  left: var(--left);
  position: absolute;
  top: var(--top);
  width: var(--size);
  animation: sparkle var(--duration) var(--iteration) alternate;
  pointer-events: none;
}

@keyframes sparkle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: var(--opacity);
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
