#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.page-container {
  margin: 0 auto;
  padding: 1vw;
  width: 96%;
  z-index: 2;
}

.debug {
  border: 1px solid red;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  z-index: -2;
}
.parallax__layer--sparkle {
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}
