.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  margin-top: 40px;
}

.bug-report-button {
  background-color: rgba(106, 255, 168, 0.6);
  border: 1px solid rgb(106, 255, 168);
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  color: rgb(52, 11, 86);
  font-weight: bold;
  box-shadow: 0px 4px 0px rgb(52, 11, 86), 4px 4px 0px rgb(52, 11, 86),
    0 0 20px rgba(52, 11, 86, 0.6);
}

.bug-report-button:hover {
  background-color: rgba(106, 255, 168, 0.8);
}
